.main{
  width: 700px; 
  height: 700px; 
  display: flex;
}
.head{
    width: 134px;
    height: 134px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.info{
    display: flex;
    flex-direction: column;
}